<!-- app.component.html -->
<div class="container mt-4">
  <h1 class="mb-4 text-primary">Calculadora de Impostos de NF-e 
    <span style="font-size: 12px; color: #6c757d;">by Maycon Jardim</span>
  </h1>

  <!-- Upload de arquivo -->
  <div class="mb-4">
    <label class="form-label" for="fileUpload">Selecione o arquivo XML</label>
    <input type="file" id="fileUpload" class="form-control" (change)="onFileSelected($event)" />
  </div>

  <!-- Se existir produtos -->
  <div *ngIf="produtos.length > 0">
    <h2 class="mb-3 text-secondary">Lista de Produtos</h2>
    <table class="table table-hover table-bordered text-center">
      <thead class="bg-dark text-white">
        <tr>
          <th>Nome</th>
          <th>Valor</th>
          <th>ICMS (%)</th>
          <th>Valor ICMS</th>
          <th>IPI (%)</th>
          <th>Valor IPI</th>
          <th>PIS (%)</th>
          <th>Valor PIS</th>
          <th>COFINS (%)</th>
          <th>Valor COFINS</th>
          <th>Valor com Impostos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos">
          <td>{{ produto.nome }}</td>
          <td>{{ produto.valor | currency: 'BRL' }}</td>
          <td>{{ produto.icmsAliquota }}%</td>
          <td>{{ produto.valorICMS | currency: 'BRL' }}</td>
          <td>{{ produto.ipiAliquota }}%</td>
          <td>{{ produto.valorIPI | currency: 'BRL' }}</td>
          <td>{{ produto.pisAliquota }}%</td>
          <td>{{ produto.valorPIS | currency: 'BRL' }}</td>
          <td>{{ produto.cofinsAliquota }}%</td>
          <td>{{ produto.valorCOFINS | currency: 'BRL' }}</td>
          <td>{{ produto.valorComImpostos | currency: 'BRL' }}</td>
        </tr>
      </tbody>
    </table>

    <h3 class="mt-4 text-success">Totais</h3>
    <div class="list-group">
      <p class="list-group-item bg-light"><strong>Valor Total dos Produtos:</strong> {{ totalValor | currency: 'BRL' }}</p>
      <p class="list-group-item bg-light"><strong>ICMS Total:</strong> {{ totalICMS | currency: 'BRL' }}</p>
      <p class="list-group-item bg-light"><strong>IPI Total:</strong> {{ totalIPI | currency: 'BRL' }}</p>
      <p class="list-group-item bg-light"><strong>PIS Total:</strong> {{ totalPIS | currency: 'BRL' }}</p>
      <p class="list-group-item bg-light"><strong>COFINS Total:</strong> {{ totalCOFINS | currency: 'BRL' }}</p>
      <p class="list-group-item bg-light"><strong>Valor Total com Impostos:</strong> {{ totalNota | currency: 'BRL' }}</p>
    </div>
  </div>
</div>
