<!-- app.component.html -->
<div class="container mt-4">
  <h1 class="mb-4">Calculadora de Impostos de NF-e <span style="font-size: 12px;">by Maycon Jardim</span></h1> 
  
  <!-- Upload de arquivo -->
  <div class="mb-4">
    <input type="file" class="form-control" (change)="onFileSelected($event)" />
  </div>

  <!-- Se existir produtos -->
  <div *ngIf="produtos.length > 0">
    <h2 class="mb-3">Produtos</h2>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Nome</th>
          <th>Valor</th>
          <th>ICMS (%)</th>
          <th>Valor ICMS</th>
          <th>IPI (%)</th>
          <th>Valor IPI</th>
          <th>PIS (%)</th>
          <th>Valor PIS</th>
          <th>COFINS (%)</th>
          <th>Valor COFINS</th>
          <th>Valor com Impostos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos">
          <td>{{ produto.nome }}</td>
          <td>{{ produto.valor | currency: 'BRL' }}</td>
          <td>{{ produto.icmsAliquota }}%</td>
          <td>{{ produto.valorICMS | currency: 'BRL' }}</td>
          <td>{{ produto.ipiAliquota }}%</td>
          <td>{{ produto.valorIPI | currency: 'BRL' }}</td>
          <td>{{ produto.pisAliquota }}%</td>
          <td>{{ produto.valorPIS | currency: 'BRL' }}</td>
          <td>{{ produto.cofinsAliquota }}%</td>
          <td>{{ produto.valorCOFINS | currency: 'BRL' }}</td>
          <td>{{ produto.valorComImpostos | currency: 'BRL' }}</td>
        </tr>
      </tbody>
    </table>

    <h3 class="mt-4">Totais</h3>
    <div class="list-group">
      <p class="list-group-item"><strong>Valor Total dos Produtos:</strong> {{ totalValor | currency: 'BRL' }}</p>
      <p class="list-group-item"><strong>ICMS Total:</strong> {{ totalICMS | currency: 'BRL' }}</p>
      <p class="list-group-item"><strong>IPI Total:</strong> {{ totalIPI | currency: 'BRL' }}</p>
      <p class="list-group-item"><strong>PIS Total:</strong> {{ totalPIS | currency: 'BRL' }}</p>
      <p class="list-group-item"><strong>COFINS Total:</strong> {{ totalCOFINS | currency: 'BRL' }}</p>
      <p class="list-group-item"><strong>Valor Total com Impostos:</strong> {{ totalNota | currency: 'BRL' }}</p>
    </div>
  </div>
</div>
